<h1>New DEG Comment</h1>

<p>New comment entered for inquiry <%= @inquiry.id %></p>
<p><b>Author: </b><%= @comment.commenter %></p>
<p><b>Body: </b><%= @comment.body %></p>

<%= link_to "Inquiry #{@inquiry.id}", controller: "inquiries", action: "show", id: @inquiry %>