<h1>Information Provider Resolution Request</h1>

<p>
Please review the following database Inquiry and provide a resolution:
</p>

<p>
  <%= link_to "Inquiry For Resolution", controller: "inquiries", action: "show", id: @inquiry, :ip => "review" %>
</p>
