<h1>Information Provider Resolution Request</h1>

<p>
Please review Database Inquiry and provide a resolution:
</p>

<p>
  <%= link_to "Inquiry For Resolution", controller: "inquiries", action: "show", id: @inquiry %>
</p>
