<h1>New DEG Inquiry Created</h1>

<p>
	Hi <%= @inquiry.name %>,
<p>
<p>
  Thank you for creating a Database Inquiry with DEG. As a reference, you can view this inquiry at the following location:
</p>

<p>
  <%= link_to "Your Inquiry", controller: "inquiries", action: "show", id: @inquiry %>
</p>
