<h1>Inquiry Resolved</h1>

<p>
Your database inquiry has been marked as resolved by a DEG admin. Please review at the following location: 
</p>

<p>
<%= link_to "DEG Inquiry", controller: "inquiries", action: "show", id: @inquiry %>
</p>
