
<p>The weekly report snapshot for the week of <%= Date.today.beginning_of_week(:monday).strftime("%A, %b %d %Y") %> can be found at the following location:</p>
<p><a href="http://degweb.herokuapp.com/reporting/weekly_snapshot">Weekly Snapshot Report</a></p>
