<h1>Add Files</h1>

<br>
<p>
Images and documentation can speak volumes to support your inquiry. The DEG recommends attaching any available photos or documents to substantiate your concerns. Some of the Information Providers also require a copy of the estimate to process the inquiry. If an estimate is available, save it as a PDF and upload it here. </p>

<p>
Browse images on your desktop or cloud drive by tapping the "Add a file" button below. You can add as many files as you like. (See below for more detailed instructions on how to add files to your inquiry.)
</p>

<%= form_for :inquiry, url: inquiries_path do |f| %>

  <div>
    <div class="field">
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </div>
  </div>

  <p>
Once you've uploaded all the files you want to include with your inquiry, or if you have no files to add, select the "Submit inquiry" button to complete the process.
</p>

  <p><%= f.submit %></p>

<% end %>


<br>




<br>
