<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
<style>

.container {
	width: 500px;
	margin: auto;
}
body {
	background-color: #128F76;
}

</style>
<br>
<br>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">New Degweb Admin Confirmation</div>
  <div class="panel-body">
    <%= @user.name %>,
    <br>
    <p>Thank you for signing up. You are now an admin for DEGWEB.</p>
    <p>DEGWEB documentation and source code can be found on <a href="https://github.com/baottran/DEGWEB">github</a></p>
    <p>- Bao</p>
  </div>
</div>
</div>

