<h1>New DEG User</h1>

<p>The DEG admin has created a new account for you. Visit the link below to set your password</p>

<p>
<%= link_to "Set Password", {:controller => "users", :action => "password_reset", :email_key => @user.emailkey }%>
</p>