<link rel="stylesheet" type="text/css" href="https://bootswatch.com/readable/bootstrap.min.css">
<style>

.container {
	background-color: red;
}

</style>

<div class="container">

DEGWEB CONFIRMATION

<%= @user.name %>,

Thank you for signing up. You are now an admin for DEGWEB. 

DEGWEB documentation and source code can be found at https://github.com/baottran/DEGWEB

- Bao

</div>