<div class="container">

<%= render partial: "nav_pills", locals: {current: "audatex"} %>
<br>
<a href="https://www.training.audatex.us/otc4-viewdoc.asp?ID=802" class="btn btn-info">Audatex DBRM</a><br><br>
<p>Audatex builds and displays database labor significantly differently than the approach of CCC/Motor and Mitchell, using an “inside out” approach instead. When replacing an inner part, such as a radiator support or apron, Audatex, by default, calculates the labor associated with related outer parts, and attaches much of that labor to the inner part. As an example, when replacing a hinge pillar, Audatex includes the labor associated with R&I of the front door. This approach does not apply, though, for all operations. For example, when replacing a wheelhouse assembly, one cannot assume that the R&I labor associated with all items mounted on the apron, is included.</p>

 
<p>Audatex does not make use of database generated labor notes. Your best resource is again the procedural guide, or Database Reference Manual, which details which related operations are included and which is not. One very useful feature that Audatex provides is the ability to view and print a Labor Report. The Labor Report itemizes all individual sub-labor operations included within a given operation, and provides a clear accounting of how their labor is built.</p>
 
<p>The Audatex Database Reference Manual can be accessed within the Shoplink program via a button on the top menu bar (symbol of books). They can also be accessed online at the Audatex website, which enables printing of the document, or click here for the direct link to the Audatex  Database Reference Manual.  Important estimate symbols to remember: </p>  
<p>Labor Override – An asterisk (*) on an estimate line indicates that the labor value was user-entered. This may indicate that the default database labor associated with that operation has been altered by the estimator, and either increased or decreased. In this case, it is critical that you understand what the value was originally, and why that value was altered. A common example of this is altered refinish time, which may or may not be valid.</p>
</div>