<div class="container">

<%= render partial: "nav_pills", locals: {current: "about"} %>

<h3>Understanding Your Estimating System and Database Labor</h3>

<p>The first step in writing an accurate estimate or in interpreting an estimate prepared by another party is to thoroughly understand how a given estimating system works, including how that system builds labor. There are three primary database providers currently being used in the United States; Audatex, a Solera Company, Mitchell International, and CCC Information Services which operates using the MOTOR database. All of the databases receive information from the vehicle manufacturers and provide that information in the estimating system to use for a guide to establish flat rate times. The way the information is applied or calculated may differ between the information providers and the estimating platforms of Audatex, CCC, and Mitchell have both large and subtle differences. This is important to understand when utilizing the system to generate an estimate, as well as when comparing an estimate from one system to another. We can all agree that poor estimates can be written by anyone with minimal training. In order to prepare a thorough and accurate estimate, you must be fully familiar with how a given estimating platform is intended to be used, which includes a complete understanding and application of the individual databases’ procedural pages of included and not included items. There is no substitute for the comprehensive training that is readily available from the companies that provide these estimating systems or for the first hand experience developed when working on the damaged vehicle.
This section is intended to provide some basic understanding as to how the above three estimating platforms build and display labor, as well as some useful reminders for important items to be aware of when writing or interpreting an estimate. One critical point to keep in mind is that all the databases are developed and marketed as guides and are based on NEW AND UNDAMAGED PARTS BEING REPLACED ON NEW AND UNDAMAGED VEHICLES; therefore your discretion and experience as a repair professional must be used when estimating a damaged vehicle.</p>

<p>Follow the links below to learn how each estimating system builds their labor and also to view the P-Pages or Estimating guide.</p>

AUDATEX       CCC      MITCHELL

<p>Some additional information in regards to estimating and repair planning can be found on the ASA and SCRS websites.</p>

<p>ASA provides a chart of “Included and Not-Included operations”. Designed to ensure collision repairers consider all of the possible operations when they write an estimate, the two guides serve as a quick summary of general not-included operations, and should be used in addition to procedure pages supplied by individual information providers. The charts of included and Not-Included operations can be found on the ASA store website. http://www.asastore.com/</p>

<p>SCRS has developed the “Guide to Complete Repair Planning”. This document was created to aid the repair facility in formulating the most accurate repair plan in the estimating process, to minimize the need or expense of a supplement. The guide can be found on the SCRS website. www.scrs.com</p>

</div>