<div class="container">

<%= render partial: "nav_pills", locals: {current: "knowledgebase"} %>

<h3>Industry Documents</h3>

<p>AASP, ASA and SCRS contacted all three Information Providers in regards to Data Privacy. Below is the original request and the responses from the information Providers.</p>
<ul>
<li><a href="http://www.degweb.org/wp-content/uploads/2012/12/Public-Request-to-IPs.pdf">Request Document</a></li>
<li><a href="http://www.degweb.org/wp-content/uploads/2012/12/Audatex-Response-to-Associations_7-17-2012.pdf">Response from Audatex</a></li>
<li><a href="http://www.degweb.org/wp-content/uploads/2012/12/CCC-response-to-associations_3-6-2012.pdf">Response from CCC</a></li>
<li><a href="http://www.degweb.org/wp-content/uploads/2012/12/Mitchell-response-to-associations_4-27-2012.pdf">Response from Mitchell</a></li>
</ul>

<p><a href="http://viewer.zmags.com/publication/391c3166#/391c3166/1">SCRS Guide to Complete Repair Planning</a></p>

<p><a href="http://viewer.zmags.com/publication/a8f490f9#/a8f490f9/28">SCRS Spot Within Panel Article</a></p>

<p><a href="http://www.degweb.org/wp-content/uploads/2014/05/cicpartioal.pdf">Blend within panel or Basecoat reduction</a> – An in depth look at the process to refinish a panel once it has been repaired.</p>

<p><a href="http://www.degweb.org/wp-content/uploads/2014/05/ASA-Blend-Panel-Paint-Chart.pdf">ASA chart for blend within</a>  – Chart showing the items needed for full refinish and “blend within”</p>

<p><a href="http://www.degweb.org/wp-content/uploads/2013/06/Bumper-Condition.pdf">DEG Raw Bumper OE shipment condition</a> – Study the DEG performed in 2010 that shows the condition on OE bumpers, either primed or raw</p>

<p><a href="http://asashop.org/wp-content/uploads/ASA_Letter_AudaExplore_Refinish_Breakdown_LH.pdf">Audatex Refinish Study</a> – ASA letter to Audatex in reference to refinish breakdown.</p>

<h3>Industry Links</h3>
<p><a href="http://rts.i-car.com/">I-Car Repairability Technical Portal</a></p>

<h3>Industry Videos</h3>

<p>Toby Chess presentation for a previous CIC meeting. Shows the not included steps necessary to remove a used quarter from the doner vehicle.</p>

 
<br>
<p>Squeeze-Type Resistance Spot Welding How and Why</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/H6a-TW4_biQ?list=FLIaQjOR3Kt2GuqkhbiGY9Jw" frameborder="0" allowfullscreen></iframe>
 
<br>
<p>Windshield Installation and Safety Concerns</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8yT38XyCXFU" frameborder="0" allowfullscreen></iframe>
 
<br>
<p>YouTube – Clear Coat inner panels in CCC One</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-KyTCQ3qPl4" frameborder="0" allowfullscreen></iframe>
 
<br>
<p>YouTube – CCC One bumper prompt setup</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lwlGIdv621I" frameborder="0" allowfullscreen></iframe>
 
<br>
<p>YouTube – Search the DEG database</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IwF1Wg3k0dw" frameborder="0" allowfullscreen></iframe>
 
<br>
<p>YouTube- Adding a new labor rate category in CCC ONE</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RKITbITFtVk" frameborder="0" allowfullscreen></iframe>
 
<br>
<p>YouTube – Adding the Aluminum rate category to a line in CCC ONE</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/m32LQY5TzMc" frameborder="0" allowfullscreen></iframe>
</div>