<div class="container">

<%= render partial: "nav_pills", locals: {current: "tips"} %>
<br><br>
<p>Below are a few items that may help when writing an estimate. Feel free to email us your thoughts or tips. You can follow the DEG on Twitter to receive our weekly estimating tip or send an email to info@scrs.com to be added!!!</p>
<hr>
<p>Chipguard in Audatex – Audatex’s chipguard formula is 0.3 for the first panel and 0.2 per each additional panel but this does not take into account the size of the panel. DEG Inquiry 9478 shows that this formula accounts for up to 8” and if the requirements fall outside of the defined areas these additional needs would need to be accounted for manually.</p>
<hr>
<p>Wheel Balance is not included with wheel replacement in CCC One– Balancing of the wheel is a not included operation when replacing a wheel in CCC One. This can be found in the footnotes of CCC and also in DEG inquiry 5404.</p>
<hr>
<p>Option selection in CCC One –  It’s important to have the correct options selected in the vehicle option’s tab on your estimating system. For example, when the Fog lamps are selected in the Vehicle Options tab, the Front bumper cover w/o fog lamps will not display. To see the Front bumper cover w/o fog lamps part, please deselect the Fog Lamp option. This can be found in DEG inquiry 9272.</p>
<hr>
<p>Transparent Colors in Audatex – Some colors may require additional coats of base material or tinting of the primer sealer because they are more transparent than other colors. These additional steps would not be included in the Audatex refinish time and would require a manual line. This can be found in the Audatex DBRM on page 161:</p>

<p>“Some colors have been identified by the paint makers as very transparent. These colors may require tinting the primer/sealer or additional coats of base materials to achieve a correct match (hiding). If this is necessary to achieve a visual color match (hiding), any application of base color beyond the third base coat may require an adjustment of the refinish labor and material allowance.”</p>
<hr>
<p>Clear Coat Inner Panels in Audatex –  To make sure you receive clear coat for inner panels in Audatex you must have Two-Stage listed under the vehicle section of the estimate. This section is just above the vehicle options section.</p>

<p>Example 1 below shows Two-Stage next to Int. Refinish so this estimate will calculate clear coat for inner panels.</p>

<p>Example 2 below does NOT show Two-Stage next to Int. Refinish so this estimate would not calculate clear coat for inner panels.</p>

<p>This is very important to review with all estimates but most important when the estimate user has the option selected to NOT show the refinish breakdown under the refinish line.</p>

<p>Example 1</p>

<p>example1</p>

<p>Example 2</p>

<p>example2</p>
<hr>
<p>Test Fit Parts – Test fit parts is a not included operation in all three estimating systems.</p>

<p>Audatex states in DEG Inquiry 2491 –</p>

<p>We have reviewed your inquiry and in the reference manual section 4-3, Replacement & Recycled Operations there is a statement under Included Operations (Front End Cover/Panel),… Reasonable adjustment and alignment [as defined by the manufacturer using conventional fasteners and/or hardware]. Our labor includes time for normal adjustment and alignment for fit, one time. If a part needs to be removed multiple times to duplicate these efforts, that is not included in our labor times.</p>

<p>CCC shows in Inquiry 9360 –</p>

<p>Test fitting of a panel in-order to determine alignment/straightening of the adjacent panel(s) and or flange(s) is not included with the Outer Panel labor allowance.
Mitchell also states in DEG Inquiry – 6689</p>

<p>IF A TECHNICIAN DETERMINES THAT A TRIAL FIT IS REQUIRED TO CHECK FOR PROPER AND CORRECT FIT TO VEHICLE, THIS WOULD NOT BE INCLUDED IN R&I/R&R OF A COMPONENT.</p>

<hr>

<p>Mixing toners in Mitchell is a not included operation – DEG Inquiry 9220 shows, Mixing individual toners from a mixing bank per a formula to create a quantity of paint for a specific paint color or code is not included in any published Mitchell labor time. It goes on to say that determining the correct color variation is not included as well and gives 2 examples of how retrieving that variation could be accomplished, Determining the correct variant of a specific paint code by utilizing variant card decks or by using an automated tool that examines the color of the vehicle finish to arrive at a correct formulation to mix toners to create a quantity of paint of a specific color is not included in any Mitchell refinish time.</p>
<hr>
<p>Clear Coat Edges in CCC One – When repairing a panel if you need to refinish the edge you must select the “edging” option under the part. Doing this allows for refinish of the edge but does not include clear coat for the edge. To add clear coat to the edge you must right click the “Add for Edging” line of the estimate then select clear coat. This would be for most any panel that allows the user to edge.</p>
<hr>
<p>Bumper prompt in CCC One – When selecting the bumper prompt option in CCC One it is important to consider how the bumper will be refinished. If you are painting the bumper cover with the vehicle BUT you need to add a flex to a different clear coat mix, CCC states in DEG Inquiry 5321;</p>

<p>According to the “Guide to Estimating,” page G36, “any component clear coated as a separate procedure,” is not included. If the Bumper Cover requires a different clear coat mix because of flex additives, a separate procedure is required. This holds true for the majority of flexible components and recommended refinishing techniques.</p>
<hr>
<p>Manual change to a line of an estimate – If the estimate user changes a line in the estimate each estimating system notes that there was a change;</p>

<p>Audatex shows at the bottom of every estimate in the ops code that an asterisk * = User-Entered Value</p>

<p>CCC also states in the footer of an estimate that an Asterisk (*) or Double Asterisk (**) indicates that the parts and/or labor data provided by third party sources of data may have been modified or may have come from an alternate data source.</p>

<p>Mitchell shows at the end of an estimate that an asterisk * – Judgment item</p>
<hr>
<p>Clear Coat Extension in Audatex – When refinishing a part it may be necessary to extending the clear coat to the edge of an adjacent panel. This formula is not supported in Audatex and the estimate user will need to select either the full refinish allowance or the blend refinish allowance, or create a manual entry for the operation they wish to accomplish. It would be up to the discretion and judgment of the professional estimate preparer to determine which operation best suits their repair situation. This can be found in DEG inquiry number 8462 .</p>
<hr>
<p>Estimating Guides - When replacing a component with a used part it is important that you follow the recycled estimating guide for your system or you will likely not be capturing necessary labor items that are associated with the use of used parts.</p>

<p>CCC/Motor utilize the RACE guide and it can be found here.</p>

<p>Audatex shows Recycled included and not included operations in Audatex Database Reference Manual.</p>

<p>Mitchell does not print a separate guide for recycled assemblies but they can be found within the estimating system.</p>
<hr>
<p>Cover and Protect interior in CCC – The additional work needed to cover and protect the vehicle during welding is a not included operation in CCC. The resolution for DEG inquiry number 9300 states ““Items that are not listed under the INCLUDED/DOES NOT INCLUDE heading for any given procedure have not been considered in the estimated work time development for that procedure, unless specified by a footnote.” Therefore, the additional work to cover and protect items are not included and should be an on the spot evaluation.”</p>
<hr>
<p>Pre fit not included in Audatex – DEG inquiry 2491 shows that pre-fit in Audatex is a not included operation.
“We have reviewed your inquiry and in the reference manual section 4-3, Replacement & Recycled Operations there is a statement under
Included Operations (Front End Cover/Panel),… Reasonable adjustment and alignment [as defined by the manufacturer using conventional
fasteners and/or hardware]. Our labor includes time for normal adjustment and alignment for fit, one time. If a part needs to be removed
multiple times to duplicate these efforts, that is not included in our labor times.”</p>
<hr>
<p>Seam Sealer in Audatex – Audatex states in DEG inquiry number 1157 that seam sealer is a body operation “The Audatex database includes the labor for seam sealing where required per the OEM manufacturer service procedures and this labor is allotted in the body repair allowance not the refinish allowance. The cost of body materials are not addressed within the Audatex database.” The Audatex time for replacement of a panel includes the labor to apply the seam sealer but does not included the removal of the existing seam sealer per DEG inquiry 2951.</p>
<hr>
<p>CCC Seam Sealer – CCC states in DEG inquiry number 6781 that “Some replacement components may or may not be supplied with duplicated OEM caulk/seam sealer. This is not included in R&R time and requires an on-the-spot evaluation. “</p>
<hr>
<p>Missing Labor – If the labor time for a component is missing from your estimating system you should not assume that the labor is included with another operation.  Mitchel states in DEG inquiry 7872 that “it is not to be inferred that a component with no established Mitchell labor time has been included in another.” CCC/Motor say “All operations listed as included should display as “INCL” during the estimate process regardless if they have an estimated work time published” in DEG inquiry 7823</p>
<hr>
<p>Pinch Weld Damage in CCC – The repair needed to address pinch weld damage after a vehicle has been setup on a frame machine is a not included operation in CCC. This can be found in the Motor Guide to Estimating on page G10 under the not included labor times.</p>
<hr>
<p>CCC Spray Out Panel – One of the new additions to the Motor Guide to Estimating shows that “test spray out panel” is a not included operation with clear coat finishes. If you perform this operation during the refinish process you would need to create a manual entry for the time needed to “test spray out panel”. This can be found on page G36 in the Motor Guide to Estimating. All three estimating guides can be found on the DEG website www.degweb.org under Estimate Toolbox.</p>
<hr>
<p>Clear Coat Extension in Audatex – Audatex does not have a clear coat only formula so if there is a need to extend your clear coat to an adjacent panel the user must select either the full refinish of the panel, blend for the panel or create a manual entry. An example would be when repairing a quarter panel and there is no line to stop the clear coat so you must clear into the roof and possibly the other quarter. This can be found in DEG inquiry 8462</p>
<hr>
<p>Bleed brakes in CCC does not include bleeding the ABS pump – The estimated work time of 0.5 hour applied to Bleed Brake System is for those situations when the Brake Hydraulic Line is open at one or all four Suspension Points (caliper/wheel cylinder.) Bleeding the ABS Unit was not considered in the estimated time allowance for Bleed Brake System. This information can be found in DEG inquiry number 8843.</p>
<hr>
<p>CCC Bumper Prompt Indicator –  If the symbol <> is next to a bumper line on your estimate this indicates the bumper refinish operation WILL NOT be performed as a separate procedure from the other panels in the estimate. Meaning the user selected NO when asked if the bumper will be refinished in a separate procedure from the other panels. This symbol will only show on the printed copy of the estimate and selecting yes or no to the bumper prompt will impact how the estimate calculates overlap.</p>
<hr>
<p>Labor Exclusions in Audatex – Page 54 of the Audatex Database Reference Manual has a list of labor exclusions that need to be considered during the estimate process. Below are a few items that are on the list</p>

Removal of panel bonding adhesive material. <br>
R&I of Injected / Structural foam.<br>
Removal of part number labels.<br>

<p>A copy of the most current Database Reference Manual can be found on the DEG website under the Estimating Toolbox link.</p>
<hr>

<p>Motor releases updated Guide to Estimating – The Guide to Estimating has been updated and can be found in your CCC estimating system by clicking the  “Guide” icon on the right side of the screen. A full copy of the guide can also be found on the DEG website. Visit www.degweb.org and click “Estimate Toolbox” then select “CCC One”.  Along with the Guide Motor has updated the RACE guide which is to be used when selecting recycled parts. The updated RACE guide can be found on the DEG website in the same area.  For comparison the DEG has the previous versions of both guides listed on the website. Changes to the guide are shown in blue lettering with the online version. Below are a few quick notes about the updated Guide</p>

Page G10  under “Labor Time Does not include” has the addition – Test for water leaks (except Windshield, Back Glass, and Stationary Glass)<br>
Page G34 under “Prime and Block” Motor states Prime and block as a refinishing process<br>
Page G36 under “Clear Coat Finishes Does Not Include” has the additions – Texture matching and Test spray-out panel<br>
<hr>
<p>Frame Machine Setup In CCC is Not Included – Due to the different types of frame machines used in the collision repair industry, labor times for frame machine set-up are not developed by MOTOR, nor otherwise included in any operation. Each frame machine manufacturer may have its own unique configurations and setup processes. This can be found in the Motor Guide to Estimating on page G5.</p>
<hr>
<p>Truck Bed Underside Refinish – Painting the underside of a bed is a not included operation in Audatex, CCC and Mitchell. This can be found in the below inquires:</p>

<p>Audatex 8184 –</p>

<p>The refinish allowance for the COMPLETE BED ASSEMBLY (GN 0511) includes the
following panels. The Audatex refinish allowance does not include the underside of the bed as
stated in the Database Reference Manual. The Audatex refinish time does not include inner
surface (backside) of the outer bedside panels. No changes are warranted at this time. The
database is working as designed.
Outer bedside panels
Inner bedside panels
Front bed panel
Fuel filler pocket
Exposed surface of bed floor</p>

<p>CCC 2990 –</p>

<p>Research Response: MOTOR stated:
According to the OEM, paint found on the underside of the pickup box side panel is an artifact of the factory refinish process (overspray). This may be evidenced by uneven paint application, bare spots, etc.
MOTOR does not take the position that the underside of the pickup box side panel should not be returned to pre-accident condition. However, determining the estimated work time to refinish the underside of the pickup box side panel in various stages of completeness and quality, if refinished at all, is best left up to the judgment of estimators using an on-the-spot evaluation.</p>

<p>Mitchell 3080 –</p>

<p>LABOR ALLOWANCES ARE AS FOLLOWS.
REFINISH PICKUP BED ASSY COMPLETE (INCLUDES TAILGATE) ~STD BED ~~W/S-RUNNER MODEL…..#8.5 ~~W/O S-RUNNER MODEL ~~~REGULAR CAB, XTRA CAB…..#8.5 ~~~DOUBLE CAB…..#8.0 ~~STEPSIDE BED…..#8.5 #INCLUDES REFINISH FLOOR & INSIDE PANELS
LABOR ALLOWANCES DO NOT INCLUDE REFINISH UNDERSIDE. AT THIS TIME USER WILL HAVE TO MANAULLY SELECT REFINISH UNDERSIDE FROM CEG. NO CHANGES AT THIS TIME.</p>
<hr>
<p>Bleed Brakes in CCC – The estimated work time of 0.5 applied to Bleed Brake System is for those situations when the Brake Hydraulic Line is open at one or all four Suspension Points. The .5 labor does not included bleeding the ABS system if necessary. This info can be found in DEG inquiry 8843</p>
<hr>
<p>Complete vehicle refinish in Mitchell – Under Procedure 28 of the Mitchell Estimating Guide states that Refinish times are for new undamaged parts and not intended for calculating complete vehicle refinish.</p>

<p>Page 16 of the Mitchell Estimating Guide</p>

<p>Refinish times in this Guide pertain to NEW, UNDAMAGED PARTS and are not intended for calculating complete vehicle refinish—single- or multistage.</p>
<hr>
<p>The material for bagging a vehicle in Audatex  – Audatex includes the time in the labor. However, the estimate preparer decides what is, or is not included in the Paint Materials. This can be found on page 182 of the Audatex Database Reference Manual.</p>
<hr>
<p>Adhesive backing removal in CCC – The labor time in CCC for moldings, Nameplates and Emblems includes the installation time only. It does not include the time needed to remove the old adhesive backing. This can be found in the Motor Guide to Estimating on page G33 and also in DEG inquiry 7698.</p>
<hr>
<p>CCC Footnotes Take Precedence – Footnotes may contain vehicle specific information and the content of footnotes is in addition to and takes precedence over, information in the Guide to Estimating pages for the operation indicated. This can be found in DEG inquiry number 8659.</p>
<hr>
<p>Collision Access – Before starting repairs or even the estimate, it may be necessary to cut, push or pull damaged panels to gain access to the vehicle. This is a not included operation in all three estimating systems.</p>

<p>Audatex – Located on Page 54 under labor exclusions in the Database Reference Manual is:</p>

<p>Additional labor for removal of parts that have been impeded by crash damage (access labor). (Standard Manual Entry M62 is available).</p>

<p>CCC – Page G-10 of the Motor Guide to Estimating under “Time Does Not Include” states:</p>

<p>Cutting, pulling or pushing collision damaged parts for Access</p>

<p>Mitchell – Shown in Additions to Labor Times on page P3 of the Mitchell Estimating Guide is:</p>

<p>Access Time Remove extensively damaged parts by cutting, pushing, pulling, etc.</p>
<hr>
<p>Not every chip guard is the same in Audatex – Replacing the chipguard on a vehicle may require additional operations that are specific to a vehicle. Audatex states “ Chipguard defines the Audatex automated formula for this operation. When special requirements are needed for a specific vehicle, the estimator would have to account for those requirements manually. No changes warranted at this time” in DEG Inquiry 8452.</p>
<hr>
<p>Car Cover in CCC – During the repair process it may be necessary to cover the vehicle to prevent overspray. This operation may be performed multiple times and each time you cover the vehicle, then remove the cover a labor value of .2 should be added. CCC/Motor state in DEG inquiry number 8533 “Since the operation may be performed multiple times during any given repair process, an on-the-spot evaluation is required to determine how many times this operation should be utilized, and who should perform this operation.” Furthermore the inquiry states the material costs are not included in any labor time and that Material costs and cost categories must be determined by the repair facility.</p>
<hr>
<p>Frequently asked questions in the Audatex Database Reference Manual – Section 5-2 of the Audatex Database Reference Manual (DBRM) covers 40 questions that you may find helpful during the estimate or repair process.</p>
<p>Does bagging and masking include the cost of the bag?
When you replace a floor pan with Audatex does the paint labor allowance include both sides of the pan, or just the part inside the trunk?</p>

<p>These are just a couple of questions that are answered in the FAQ section on pages 176-184 of the DBRM. If you do not have a copy of the Audatex DBRM, the MOTOR Guide to Estimating, or Mitchell’s Collision Estimating Guide you can visit the DEG website (www.degweb.org) and links to all three estimating system resources are located at the top of the page.</p>
<hr>
<p>Bleeding The Coolant System – After the replacement of a coolant component it may be necessary to remove the air from the system, or “bleed” the system. This process may require opening a valve to remove the air, similar to a brake caliper, but can require more complex procedures of attaching a vacuum machine and/or following more detailed OEM-specific instructions. These procedures are “not included” operations with Audatex and Mitchell estimating software. This can be found in the procedural pages of both products, but also in DEG inquiries 3761 and 3851.</p>
<p>CCC/Motor states this operation is included with the labor of the coolant part.
If you are replacing a coolant part in CCC and do not think the time is adequate to replace the part AND bleed the coolant system you can submit an inquiry to the DEG and we will address the labor time with CCC. Submit an inquiry by visiting the DEG website at www.degweb.org and clicking the green arrow that says Open Inquiry.</p>
<hr>
<p>Adding a new Aluminum rate category in CCC – Aluminum repair is becoming more common, and if you have CCC One you have the option of adding an aluminum rate category; outlined in the procedure below. Audatex and Mitchell do not currently allow the end-user to create a new rate category, and it must be accounted for manually.</p>

Navigate to the profile under the configure link:<br>
Select the profile you would like to change<br>
On the left side expand the estimating folder, then rates folder and click Labor<br>
Click “Add Charge Category”<br>
Input the Name of the category and dollar amount. Remember the code # for future use<br>
Once the rate category is in the system you can add it to a repair or replace line by clicking the box next to the labor amount and inputting the code # for the new aluminum rate<br>
<hr>
<p>Feather Prime and Block is a refinish operation – All three estimating systems state the Feather Prime and Block (FPB) operation is a refinish procedure.</p>

<p>Audatex – Has the option to add FPB to a repair panel but also states in DEG inquiry number 8061:</p>

<p>“FPB is recognized as a refinish operation and is so denoted within the body of the estimate”</p>

<p>CCC – Says FPB is a refinish operation in DEG inquiry number 6824:</p>

<p>“Prime and Block is a refinish operation and is not included in any labor operation."</p>

<p>Mitchell – Just like Audatex and CCC Mitchell states FPB is a refinish operation in DEG inquiry number 3727:</p>

<p>“FEATHER, PRIME & BLOCK IS THE NOT-INCLUDED REFINISH OPERATION”
Remember to setup your Audatex profile to calculate FPB materials. This can be found in a previous estimating tip.</p>
<hr>
<p>Audatex Feather Prime and Block – In order to calculate for materials, Audatex users must go into each unique profile within the estimating system and define the materials rate for Feather Prime and Block in the rate tab. Like all undefined rates, this will default to $0.00 until defined by the user. During the estimate preparation process, you must factor the necessary time for feather, prime and block into the repair time, and then allocate the portion of the total repair hours that they want apply to the Feather, Prime and Block operation.</p>
<hr>
<p>Audatex Labor Report – Labor times listed in the Audatex estimating system are constructed differently than other estimating products, and uniquely use an “inside out” approach to defining labor units. Audatex provides an Audatex Labor Report, which documents the approach used in the development of their published time. This report can be printed along with the estimate and can be useful in determining things such as included operations and overlaps deductions. Below is an excerpt from the Audatex P-Pages (DBRM):</p>
<br>
<p>Audatex Labor Report</p>

<p>Shows the operations that may be performed for each panel on the estimate. This report includes:</p>

the guide number where any overlap has been considered<br>
the full labor of the panel before overlap consideration<br>
all operations that may be applicable for a specific estimate<br>

<p>The Labor Report is specific for each vehicle and provides a breakdown of included operations. This report is viewable on screen or printable for any estimate.”</p>

<p>Also, don’t forget that in the back of the P-Pages in Audatex is a frequently asked questions section. There are 40 questions with answers that could help during the estimate/repair process.</p>
<hr>
<p>Estimating systems contain information to assist in producing an estimate to document the repair of a collision damaged vehicle, however each information provider stated that their products are to be used as a guide. The information is a tool, but cannot  replace the experience of the trained professional, physically inspecting the damage and performing the repair.</p>

<p>CCC – On page G10, the Motor Guide to Estimating states “The times reported in this publication are to be used as a guide only”</p>

<p>Audatex – On page 50,  the Database Reference Manual states “Labor supplied in an Audatex estimate is intended for use as a guide for collision repair.”</p>

<p>Mitchell – On page 2, the Collision Estimating Guide states “THE LABOR TIMES SHOWN IN THE GUIDE ARE IN HOURS AND TENTHS OF AN HOUR (6 MINUTES) AND ARE FOR REPLACEMENT WITH NEW, UNDAMAGED PARTS FROM THE VEHICLE MANUFACTURER ON A NEW, UNDAMAGED VEHICLE. Any additional time needed for collision DAMAGE ACCESS, ALIGNMENT PULLS, NON-ORIGINAL EQUIPMENT or USED PARTS should be agreed upon by all parties. Times for some operations are applicable after necessary bolted, attached or related parts have been removed. Exceptional circumstances, including all the sub-operations or extra operations, are indicated as notes throughout the text or are identified in the Procedure Explanations. The actual time taken by individual repair facilities to replace collision damaged parts can be expected to vary due to severity of collision, vehicle condition, equipment used, etc.”</p>
<hr>

<p>Refinish edge and refinish inside is 2 different operations with CCC ONE. In DEG inquiry 8374 CCC states: “depending on the refinish damage and/or refinish requirements one or both may be selected” they go on to define the 2 as follows,</p>

<p>Visualize a driver side front door:</p>

1. The exterior surface paint time is for the door skin. This is the surface that faces outside of the car when the door is closed.<br>

2. The “inside” is the inside of the door shell; this is the surface area that faces the driver and interior of vehicle when the door is closed.<br>

3. The “edge” is the area between the exterior and interior surface. This would be the crimped area as well as the portion of the door which the user describes as the “jamb” area. This is the area that faces the lock pillar.<br>
<hr>
<p>Weld Damage – Weld damage is a not included operation in all three estimating systems.</p>

<p>Audatex – On page 56 of the Database Reference Manual it states the following under Labor Exclusions:</p>

<p>“Replace labor does not include additional labor to repair the replaced panel and or adjacent panels which may become distorted, burned or damaged by welding, drilling, grinding and straightening. “</p>

<p>CCC – Page G39 of the Guide to Estimating shows:</p>

<p>“SPECIAL NOTATION:</p>

<p>Suggested refinish operation times do not include additional time for repair of damage to adjacent panels resulting from normal cutting, welding and grinding procedures. The amount of damage can vary considerably depending upon process and technique used by the servicing technician and, therefore, is impractical to anticipate in this publication. MOTOR recommends these factors be considered before finalizing any repair cost estimate. Typical areas to be considered are</p>

<p>Illustrated below “</p>

 <p>Mitchell – The Mitchell guide shows the following on page P16 under Not Included Operations:</p>

<p>“Feather, Prime & Block paint damage to adjacent panel and/or panels joined by welding due to burn damage (see Feather, Prime & Block definition under Refinish General Information”</p>
<hr>
<p>Covering Vehicle For Weld Damage - Covering the interior and adjacent panels to prevent weld spark damage during welding is a not included operation in CCC. This is explained in DEG inquiry number 7851:</p>

<p>“According to the MOTOR Guide To Estimating, “Items that are not listed under the INCLUDED/DOES NOT INCLUDE heading for any given procedure have not been considered in the estimated work time development for that procedure, unless specified by a footnote.” Therefore, the additional work to cover and protect items are not included and should be an on the spot evaluation.”</p>
<hr>
<p>LKQ Quarter in CCC - When replacing an LKQ quarter panel in CCC the labor time is for more than just the outer skin unless noted with a footnote. As seen in DEG inquiry 4817.
“Please note that replacing the OEM quarter panel and replacing a LKQ quarter assembly are “apples and oranges” comparisons. According to the MOTOR Recycled Assemblies Guide To Estimating, page G29, “Assembly is serviced with quarter outer panel, quarter inner structure, wheelhouse, lock pillar and extensions.” According to the OEM GTE, Page G22, “Quarter panel R&R times are generally based upon replacement at the factory seams.”
If replacing an LKQ part in CCC the RACE Guide from Motor should be utilized. This guide can be found on the DEG website.</p>
<hr>

<p>Bagging or Car Cover in Audatex – The labor for “bagging” or “car Cover” is an included operation with Audatex refinish but as seen on page 180 of the Audatex P-Pages the estimate preparer decides what is, or is not included with the paint materials. Having a paint materials list displayed in your facility could be a useful tool when negotiating what is or is not included.</p>
<hr>
<p>P-pages. Estimate guides or P-pages are a critical part of the estimate process. Each guide shows included and not included items but also key information for refinishing and common labor options like color sand and buff. A current copy of all three estimating system’s P-Pages can be found on the DEG website. It’s important to know the P-Pages for your system but it’s just as important to know the P-pages for a system you do not have. CCC has new additions or changes in blue text and Audatex creates a strike through for changed text. Remember to utilize the RACE guide for used parts in CCC and the Recycled column in Audatex.</p>
<hr>
<p>Mixing Paint – It is important to know which processes are included, and more importantly not-included, in your specific estimating system. The Audatex refinish allowance accounts for mixing the color for the factory paint code and one tint cycle to match the paint on the vehicle. See inquiry 8089. Mitchell includes “mix materials” in their refinish procedure, but “color match or tinting” is not included. See inquiry 8092. CCC includes retrieving accurate color information, including paint chip, and the mixing of additives (ex: thinner / reducer / hardener etc.) to the premixed color; This is referred to as “mix paint.” Test spray-out panel and tinting to achieve color match is not included in Motor Crash Estimating Data refinish allowance. Mixing Systems enable refinishers to mix the desired color by combining paint toners; this formulation of color is not included. See inquiry 4486.</p>
<hr>
<p>Labor Prompts in CCC – Labor prompts need to be setup for Edging, Underside, Inside, Bumper refinish, Aim Lamps and Evacuate/Recharge in CCC ONE. These prompts can be displayed when writing an estimate and you set the “default” in the profile section. Go to Configure, Profiles, Select your profile, and then click Labor Prompts. This must be done for each profile in your system.</p>
<hr>
<p>Audatex Feather Prime and Block – In order to calculate for materials, Audatex users must go into each unique profile within the estimating system and define the materials rate for Feather Prime and Block in the rate tab. Like all undefined rates, this will default to $0.00 until defined by the user. During the estimate preparation process, you must factor the necessary time for feather, prime and block into the repair time, and then allocate the portion of the total repair hours that they want apply to the Feather, Prime and Block operation.</p>
<hr>
<p>Fabrication of Sleeves – Creating a sleeve or backing plate is not included in CCC. Audatex and Mitchell included the labor for sleeves as long as it is from existing stock. DEG Inquiries 6405, 3856 and 3857</p>
<hr>
<p>Drilling Backup Sensors – Drilling the hole for a backup sensor is a not included operation in Audatex and CCC</p>

<p>Audatex –  Per the Audatex DBRM section 4-2 “Labor for drilling necessary to attach parts (e.g., ornamentation, antennas, etc.)  and DEG reference inquiry 7816</p>

<p>CCC – Has an Add if required option in the estimating system. Additional information can be found in the estimating guide on page G10 “Drilling, modification or fabrication of mounting holes”</p>
<hr>
<p>Reset of Electrical Components – The resetting of electrical components is a NOT included operation in Audatex, CCC or Mitchell. Air bag lights, initializing of a power window, and steering angle sensors are just a few examples of items that require a manual line for the labor amount needed. 7465 , 6710 , 5845</p>
<hr>
<p>Foam – The labor for application or removal of foam is not included in CCC or Audatex and requires a manual line for the labor amount needed. Materials for the foam are not included as well. 2481 and 5223</p>

 
<hr>
<p>Wash Vehicle – Do you wash or clean a vehicle before repairs?? This is a not included operation in CCC and needs to be added to the estimate. DEG inquiry 6948</p>
<hr>
 

<p>Audatex A/C Lines – When replacing an A/C line in Audatex the labor time allocated is for basic disconnect and connect of the line. It does not include the time needed to remove the line from the vehicle. That would need to be a manual entry as per DEG Inquiry 4818</p>

 <hr>

<p>Refinish Underside in CCC – Apron assemblies do include refinishing the underside as per inquiry number 7970 but floors and roofs do not include refinish the underside 3985 and 6071</p>
<hr>
 

<p>Missing Labor – Just because there is no labor time in the system DOES NOT mean the labor is included with another operation. Inquiry 7987 is a great example!!!!!</p>
</div>