/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*// Example using 'Paper' bootswatch*/

/*//Import bootstrap-sprockets*/
@import "bootstrap-sprockets";

/*// Import paper variables*/
@import "bootswatch/paper/variables";

/*// Then bootstrap itself*/
@import "bootstrap";

/*// And finally bootswatch style itself*/
@import "bootswatch/paper/bootswatch";

.form-label {
  text-align: right;
  display: inline;
}

.form-required {
  color: red;
}

.form-key {
  float: right;
  margin-top: -24px;
}

.form-field {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.form-buttons {
  margin-bottom: 100px;
}

.submission-content {
  /*display: flex;*/
  display: block;
}

.inquiry-item {
  flex-grow: 1;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

.btn-submit {
  margin-left: 15px;
}

.container {
  width: 1000px;
  background-color: white;
}

.search {
  width: 920px;
  display: flex;
  background-color: white;
  align-items: center;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.search-field {
  width: 400px;
  padding-right: 50px;
  margin: 10px;
}

.search-btn {
  height: 35px;
}

.search-sort {
  margin-left: 200px;
}

.content-box {
  display: inline-flex;
  background-color: white;
  width: 985px;
}

.checklist {
  background-color: white;
  width: 200px;
  height: 600px;
  margin: 10px;
}

.right-content {
  /*background-color: yellow;*/
  width: 700px;
  /*height: 600px;*/
  margin: 10px;
  /*padding: 5px;*/
}

.footer-bar {
  background-color: #f9f9f9;
  margin-bottom: 0;
  border: none;
  min-height: 60px;
}

.footer-content {
  margin-top: 10px;
  text-align: center;
}