<h1>DEBWEB</h1>
<p> test test test</p>

<!-- link to inquiries index -->
<%= link_to 'All Inquiries', controller: 'inquiries' %>

<%= link_to 'New Inquiry', new_inquiry_path %>

<%= link_to 'this index', root_path %>

<p> <%= link_to "Sign Up", signup_path %> </p>