<div class="container">
<h3>Mailing Address</h3>

Database Enhancement Gateway<br>
PO Box 615<br>
Penfield, NY 14526<br>

<h3>DEG Administration</h3>

Arthur Harris<br>
admin@degweb.org<br>
Phone: 302-423-0207<br>
Fax:    302-450-7214<br>

<h3>DEG Joint Operating Committee (JOC):</h3>

<p>Barry Dorn bdorn@dornsbodyandpaint.com</p>

<p>Rick Starbard rstarbard@comcast.net</p>

<p>Nick Kostakis nick.kostakis@verizon.net</p>

<p>Bruce Tschida – dentfxr@frontiernet.net</p>

<p>Ron Reichen – ronr@precisionfirst.com</p>

<p>Andy Dingman andyd@dingmans.com</p>

<h3>JOC Administration:</h3>

<p>Judell Anderson info@autoserviceproviders.com</p>

<p>Aaron Schulenburg aaron@scrs.com</p>

<p>The DEG is a resource available to you for any issues you might have related to the Audatex, Mitchell and CCC/Motor collision estimating databases. It is not a substitute for user training on any given estimating platform, or for taking the time to become fully familiar with the Procedure Pages (P-Pages) of a given estimating system.Still, we will make every attempt to promptly answer any database-related questions you may have. in addition to questions, you can also use this form to provide feedback on the DEG and what we can do to make it more effective at serving your needs as wll as to identify any database issues (beyond an individual DI) that you feel should be addressed by the Database Enhancement Gateway (DEG) or by the Database Task Force (DTF).</p>

<p>Thank you for taking th time to provide your input and we look forward to assisting you with your questions.</p>
</div>