<div class= "container">

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Estimate Tip</h3>
  </div>
  <div class="panel-body">
    <p>Bumper prompt in CCC One – When selecting the bumper prompt option in CCC One it is important to consider how the bumper will be refinished. If you are painting the bumper cover with the vehicle BUT you need to add a flex to a different clear coat mix, CCC states in DEG Inquiry 5321</p>
    <p>You can follow the DEG on Twitter to receive our weekly estimating tip or send an email to info@scrs.com and ask to be added!!!</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Youtube</h3>
  </div>
  <div class="panel-body">
    <p>
		Subscribe to the DEG YouTube channel!!! https://www.youtube.com/user/TheDEG2012
		</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Twitter</h3>
  </div>
  <div class="panel-body">
    <p>Follow the DEG on Twitter and Receive our Weekly Estimating Tip!!</p>
		<p>The DEG is using Twitter to push interesting or important inquiries found in the DEG database. Click the link below to follow @theDEGweb</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">What is the DEG?</h3>
  </div>
  <div class="panel-body">
    <p>
		The Database Enhancement Gateway (DEG) is an initiative that was developed to help improve the quality and accuracy of collision repair estimates, through proactive feedback from the collision repair industry and other "end users" to the Information Providers (IPs) that supply the databases for the various estimating products. The DEG is created, equally funded and maintained by the Automotive Service Association (ASA), the Alliance of Automotive Service Providers (AASP) and the Society of Collision Repair Specialists (SCRS).</p>
		<p>Read More..</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Testimonial</h3>
  </div>
  <div class="panel-body">
    <p>
		"I have used the DEG several times and have had a positive response. You guys are doing a great job and I am thankful there is someone looking out for us" Murrysville PA     "I sent an issue in and your staff got it taken care of, thanks for your work towards issues in the repair industry. We appreciate everything you do." Carl Springfield, IL </p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">DEG Inquiry Number 4818</h3>
  </div>
  <div class="panel-body">
   <p>Issue Summary The database is saying .3 and it just seems half of what it should be. Resolution From Audatex A/C line labor consists only of the basic connect and disconnect of the line. The Audatex labor does not account for additional tasks that may be needed for the actual placement of the line through the vehicle. Most manufacturers do not offer a service procedure for this operation and the vehicles can differ depending on options and drive trains. The actual placement of the lines remain an estimate on sight operation using a manual entry.</p>
  </div>
</div>