<div class="container">
DEG Founding Associations

Automotive Service Association (ASA) – http://www.asashop.org/
Alliance of Automotive Service Providers (AASP) – http://www.autoserviceproviders.com  
Society of Collision Repair Specialists (SCRS) – http://www.scrs.com
Parts Issues

SCRS Part Quality Complaint Form                        http://scrs.com/pdf/SCRS%20PART%20COMPLAINT%20FORM.pdf

 
Information Providers 
Audatex, a Solera Company                      http://www.audatex.com
Mitchell International                                 http://www.mitchell.com/  

CCC Information Services Inc.                    http://www.cccis.com

 

Related Links
Collision Industry Conference (CIC)             http://www.ciclink.com
Alldata Collision                                       http://www.alldata.com/collision/
I-Car Repairability Technical Portal          http://rts.i-car.com/
OEM Service Websites

OEM One Stop                                         http://www.oem1stop.com
Acura                                                       http://www.ServiceExpress.Honda.com
Audi                                                         http://www.ebahn.com/audi
Bentley                                                     http://www.bentleytechinfo.com
BMW                                                        http://www.bmwtechinfo.com
Chrysler/Dodge/Eagle/Jeep/Plymouth          http://www.techauthority.com
Ford/Lincoln/Mercury                                  http://www.motorcraft.com
General Motors                                          http://www.goodwrench.com/gmgoodwrenchjsp/gmspo/index.jsp
                                                                or, http://www.gmtechinfo.com
Honda                                                       http://www.ServiceExpress.Honda.com
Hyundai                                                    http://www.hmaservice.com
Infiniti                                                        http://www.infinititechinfo.com
Isuzu                                                        http://www.isuzutechinfo.com
Jaguar                                                       http://www.jaguartechinfo.com
Kia                                                            http://www.kiatechinfo.com
Land Rover                                                 http://www.landrovertechinfo.com
Lexus                                                        http://techinfo.lexus.com
Mazda                                                       http://www.mazdatechinfo.com
MercedesBenz                                          http://www.startekinfo.com
Mini                                                           http://www.minitechinfo.com
Mitsubishi                                           http://www.mitsubishitechinfo.com
Nissan                                                   http://www.nissantechinfo.com
Porsche                                                     http://techinfo.porsche.com
Rolls Royce                                                http://www.rrtis.com
Saab                                                          http://www.saabtechinfo.com
Subaru                                                    http://techinfo.subaru.com
Suzuki                                                       http://www.suzukitechinfo.com
Toyota                                                       http://techinfo.toyota.com
Volkswagen                                               http://www.ebahn.com/vw
Volvo                                                         http://www.volvotechinfo.com

</div>