<div class="container">

<%= render partial: "sponsorship_nav", locals: {current: "sponsors"} %>
<br>
<h3>Platinum Sponsor</h3>

<p>ABRN – Sponsor Since 2011</p>

<p>PPG – Sponsor Since 2012</p>

<h3>Gold Sponsor</h3>

<p>Washington Metropolitan Auto Body Association (WMABA) – Sponsor Since 2008</p>
WMABA FINAL LOGO_vector_2013 copy
 

<h3>Silver Sponsor</h3>

<p>Sherwin Williams – Sponsor Since 2010</p>

</div>