<div class="container">

<%= render partial: "sponsorship_nav", locals: {current: "advertising"} %>
<br>

<p>Thank you for showing interest in supporting the DEG through advertising on our website. Please complete the application below and you will be contacted by the DEG once your application has been approved.</p>
<hr>
<h3>Website Advertising Cost and Options</h3>

<ul>
	<li>Full Banner scrolling advertisement (468 x 60 pixels)</li>
<li>Banner appears constant at the top of every page*</li>
<li>Each individual company advertisement will display for 5 second intervals</li>
</ul>

<h4>Payment</h4>

<ul>
<li>Full 12 month payment - $2100.00 (Free to Platinum Sponsor)</li>
<li>Full 6 month payment -$1100.00 (Free to Gold Sponsor)</li>
<li>Monthly payment - $200.00/Month (Requires a 3 month commitment)</li>
<li>Note: DEG has the right to add additional banners at their discretion to adjust frequency of advertisement display</li>
</div>