<div class="container">

<%= render partial: "sponsorship_nav", locals: {current: "about"} %>
<br>
<h3>How can you help?</h3>

<p>The DEG is initially equally funded by ASA, AASP and SCRS and in order to ensure its longevity and continued involvement, the DEG is seeking donations from individuals, corporations and associations that understand the need and value of this initiative. Is the DEG helping you, your customers or members to write more accurate, complete, and profitable estimates? If the answer is yes, we ask you to consider the purchase of a DEG Donation Brick, which will serve as part of the foundation the DEG  needs to continue to bring you these services. Various donation levels are available and the Donation Bricks are displayed throughout this webpage in recognition of your support and generosity.</p>

<p>To fill out an Application Form to become a Sponsor, or to find out more information about how you can support the DEG and promote our efforts please click here</p>

<p>To fill out an Application Form to advertise on www.degweb.org please click here</p>

<p>All applications for Sponsorship or advertising are subject to review by the DEG Joint Operating Comittee</p>

</div>