<div class="container">

<%= render partial: "sponsorship_nav", locals: {current: "inquiry"} %>

<br>
<p>Thank you for showing interest in supporting the DEG through a Sponsor donation. Please complete the application below and you will be contacted by the DEG once your application has been approved.</p>
<hr>
 
<h4>Sponsor levels and benefits</h4>
<br>
<b>Platinum Sponsor</b>
<ul>
<li> $4000.00 / Year</li>
<li>Full color logo on Donation Brick (hyperlinked)</li>
<li>Listed years of support on Donation Brick</li>
<li>Company logo on DEG e-newsletter (hyperlinked)</li>
<li>12 Month free full banner advertisement ($2100.00 value)</li>
</ul>
<br>
<b>Gold Sponsor</b>
<ul>
	<li>$2500.00 / Year</li>
	<li>Full color logo on Donation Brick</li>
	<li>Listed years of support on Donation Brick</li>
	<li>Company name listed on DEG e-newsletter</li>
	<li>6 month free full banner advertisement ($1100.00 value)</li>
	<li>Upgrade to 12 month Banner advertisement at a discounted rate of $1000.00</li>
</ul>
<br>
<b>Silver Sponsor</b>
<ul>
	<li>$1000.00 / Year</li>
	<li>Company name on Donation Brick</li>
	<li>Listed current year of support on Donation Brick</li>
</ul>
<br>
<b>Bronze Sponsor</b>
<ul>
	<li>250.00 / Year (Individuals only)</li>
	<li>Individual name on Donation Brick</li>
	<li>Listed current year of support on Donation Brick</li>
 </ul>
 <br>
<b>DEG Supporter – Any denomination</b>
<br>
<hr>
<p>Dear DEG Users: We are a small non-profit that helps the collision industry correct the deficiencies or problems in our estimating systems database. We have only 1 full time administrator and several volunteers but help over 28,000 registered collision shops in the US and like any other business we have costs: servers, this website, software and the administrator. The DEG is the only non-profit organization that helps the collision industry with these database issues so we are quite unique. We do not charge users to submit an inquiry or to view our large database of previous inquiries, our services are free. We receive our funding from the three largest automotive organizations in the US: AASP, ASA and SCRS. We also receive sponsorships from organizations and individuals. If you would like to help the DEG you can donate any amount by clicking the link below or by mailing a check directly to the DEG. Your support is appreciated and needed to continue this wonderful and free service. Thank You.</p>
</div>