/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*// Example using 'Paper' bootswatch*/

/*//Import bootstrap-sprockets*/
@import "bootstrap-sprockets";

/*// Import paper variables*/
@import "bootswatch/flatly/variables";

/*// Then bootstrap itself*/
@import "bootstrap";

/*// And finally bootswatch style itself*/
@import "bootswatch/flatly/bootswatch";

.form-label {
  text-align: right;
  display: inline;
}

.form-required {
  color: red;
}

.form-key {
  text-align: right;
  margin-top: -12px;
}

.form-field,
.show-make-form,
.show-inquiry-form,
.show-customer-form {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.form-buttons-max {
  margin-bottom: 100px;
}

.form-buttons-min {
  margin-bottom: 20px;
}

label.error {
  color: red;
}

.inquiry-item {
  flex-grow: 1;
}

.submission-content {
  display: flex;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

.btn-submit {
  margin-left: 15px;
}

.inquiry-edit-button {
  margin-left: 92.5%;
  margin-bottom: 10px;
}

.container-non-responsive {
  width: 970px;
  background-color: white;
  margin: auto;
  min-height: 1823px;
}

.container {
  width: 1000px;
}

.search {
  width: 920px;
  display: flex;
  background-color: white;
  align-items: center;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.search-field {
  width: 400px;
  padding-right: 50px;
  margin: 10px;
}

.search-btn {
  height: 35px;
}

.search-sort {
  margin-left: 200px;
}

.content-box {
  display: inline-flex;
  background-color: white;
  width: 985px;
}

.checklist {
  background-color: white;
  width: 200px;
  height: 600px;
  margin: 10px;
}

.right-content {
  width: 920px;
  margin: 10px;
}

.footer-bar {
  background-color: #f9f9f9;
  bottom: 0;
  border: none;
  min-height: 60px;
  width: 100%;
}

.footer-content {
  margin-top: 10px;
  text-align: center;
  padding-top: 15px;
}

.add-files {
  width: 700px;
}
.admin-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-actions .btn {
  justify-content: space-between;
}
