

<%= form_for @search do |s| %>
	

	<div class="search-box">
	<div class="search-item">
		<%= s.label :description, "Search" %>
		<%= s.text_field :description, :class => "form-control search-text" %>
	</div>
	<br>
	<div class="search-submit">
		<%= s.submit "Search" %>
	</div>
	</div>

<% end %>