<style>
#chart {
	width: 200px;
	height: 300px;
}

#chart text {
	font-size: 12px;
}

.panel-body {
	height: 1000px;
}
</style>

<div class="panel panel-default">
	<div class="panel-heading">IP</div>
	<div class="panel-body">
		<div id="test"></div>
		<div id="another"></div>
	</div>
</div>
<br>
<div class="panel panel-default">
	<div class="panel-heading">IP</div>
		<div class="panel-body">
			test
		</div>
</div>

<script>
var test = c3.generate({
    data: {
    		bindto: '#test',
        columns: [
            ['data', 91.4]
        ],
        type: 'gauge',

        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },       
    gauge: {
//        label: {
//            format: function(value, ratio) {
//                return value;
//            },
//            show: false // to turn off the min/max labels.
//        },
//    min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
//    max: 100, // 100 is default
//    units: ' %',
//    width: 39 // for adjusting arc thickness
    },
    color: {
        pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
        threshold: {
//            unit: 'value', // percentage is default
//            max: 200, // 100 is default
            values: [30, 60, 90, 100]
        }
    },
    size: {
    		width: 500,
        height: 250
    }, 
    padding: {
    	bottom: 100
    }
});

var chart2 = c3.generate({
    data: {
    		bindto: '#another',
        columns: [
            ['data', 60.4]
        ],
        type: 'gauge',

        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },       
    gauge: {
//        label: {
//            format: function(value, ratio) {
//                return value;
//            },
//            show: false // to turn off the min/max labels.
//        },
//    min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
//    max: 100, // 100 is default
//    units: ' %',
//    width: 39 // for adjusting arc thickness
    },
    color: {
        pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
        threshold: {
//            unit: 'value', // percentage is default
//            max: 200, // 100 is default
            values: [30, 60, 90, 100]
        }
    },
    size: {
    		width: 500,
        height: 500
    }, 
    padding: {
    	bottom: 100
    }
});

</script>
