<div class="panel panel-default">
	<div class="panel-heading">Unresolved Inquiries by Age</div>
	<div class="panel-body">
		<div id="aging_chart"></div>
	</div>
</div>
<br>
<div class="panel panel-default">
	<div class="panel-heading">IP</div>
		<div class="panel-body">
			test
		</div>
</div>



<script>

$(document).ready(function(){

var aging_chart = c3.generate({
	bindto: "#aging_chart",
    data: {
        columns: <%= raw calculate_aging %>,
        type: 'bar',
        groups: [
            ['< 2 weeks', '2-4 weeks', '4+ weeks']
        ]
    },
    axis: {
		x: {
		type: 'category',
		categories: ["Audatex", "CCC", "Mitchell"]
		}
	}

});

});

</script>