<div class="panel panel-default">
	<div class="panel-heading">IP</div>
	<div class="panel-body">
	test
	</div>
</div>
<br>
<div class="panel panel-default">
	<div class="panel-heading">IP</div>
		<div class="panel-body">
			test
		</div>
</div>

