<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div class="container-non-responsive form-section">
	<%= render partial: 'nav_pills', locals: {current: "new"} %>
  <br>
  <br>
  <h3 id ="title">Submit a Database Inquiry</h3>
  <%= render 'form_new' %>
</div>
