<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div class="container-non-responsive form-section">
	<%= render partial: 'nav_pills', locals: {current: "new"} %>
  <br>
  <div id="hidden-top" tabindex="-1" style="opacity: 0; font-size: 2px;">hi</div>
  <h3 id ="title">Submit a Database Inquiry</h3>
  <%= render 'form_new' %>
</div>

<script>

</script>