<%= render 'shared/header' %>

<div class="container form-section">
  <h3>Submit a Database Inquiry</h3>
  	<p>Thank you for taking the time to bring this inquiry to our attention. We appreciate your efforts help to improve collision estimate data.</p>

	<p>You'll shortly receive an email confirmation of your inquiry from admin@degweb.org. To ensure you receive all DEG correspondence, please add this email address to your safe senders list.</p>

	<p>Again, thank you and we hope you'll continue to submit inquiries to DEG in the future.</p>
	<br><br>
	<a href="#" class="btn btn-success">Make a donation to DEG</a>
	<a href="/inquiries/new" class="btn btn-primary">Submit another inquiry</a>
	<a href="/inquiries" class="btn btn-default">Return to DEG Homepage</a><br><br>

</div>

<%= render 'shared/footer' %>